<div class="footer-root">
    <div class="signoff">
        <span>All Rights Reserved. Powered by Ghost.</span>
    </div>
    <div class="social-links">
        <a href="https://twitter.com/_thomasfuller_"><div><i class="fa fa-twitter fa-lg"></i></div></a>
        <a href="https://www.linkedin.com/in/thomas-fuller-407788b8"><div><i class="fa fa-linkedin fa-lg"></i></div></a>
        <a href="https://www.youtube.com/channel/UCjd9v10ipgOm5a9xgkCsCNQ"><div><i class="fa fa-youtube-play fa-lg"></i></div></a>
        <a href="https://github.com/mtfuller"><div><i class="fa fa-github-alt fa-lg"></i></div></a>
    </div>
</div>