<div class="landing-page-services-card-root">
    <div class="icon">
        <i class="fa {{iconClass}}"></i>
    </div>
    <h3>{{title}}</h3>
    <div class="body">
        <span>{{description}}</span>
    </div>
</div>