<div class="landing-page-about-skill-root">
    <div>
        <h3>
            <span class="fa-stack fa">
                <i class="fa {{iconClass}}"></i>
            </span>{{title}}
        </h3>
    </div>
    <div class="body-section">
        <span>{{body}}</span>
    </div>
</div>