{{!< default}}

<div class="page-navbar-wrapper">
    {{navigation}}
</div>

<div class="page-root">
    {{#tag}}
        <h1 class="title">{{name}}</h1>
        {{#if description}}
            <p class="subtitle">{{description}}</p>
        {{/if}}
    {{/tag}}

    <div class="page-posts-list">
        {{#foreach posts}}
            {{> postCard}}
        {{/foreach}}
    </div>

    {{pagination}}

</div>

{{> footer}}