/* -----------------------------------------------
Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eee;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #212529;
}

form {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 20px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

main p, main li {
  font-size: 1.25rem;
}

label {
  font-size: 1.15rem;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #CE2A31;
  background-color: #e7e7e7;
  border-radius: .1rem;
}

canvas {
    width: 100%;
    height: auto;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }
}


.footer p {
  color: #FFF;
  margin:0px;
  text-align: center;
}

p.lead {
  font-size: 1.75rem;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
  blockquote {
    font-size: 22px;
    margin: 70px;
    padding: 10px 20px;
    border-left: 5px #bbb solid;
    color: #999;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  blockquote {
    font-size: 22px;
    margin: 25px;
    padding: 20px 30px;
    border-left: 5px #bbb solid;
    color: #999;
  }
}
blockquote p {
  margin: 0px;
}

.section {
  margin: 50px 0px;
}

.section-sm {
  margin: 25px 0px;
}

.section-flex {
  display: flex;
  align-items: center;
}

.section-lg {
  margin: 75px 0px;
  height: 480px

  display: flex;
  align-items: center;
}

.section-space {
  height:40px;
}

.media {
  margin-bottom: 25px;
}

/* =============================================================================
Cover Page
============================================================================= */
.greeting {
  padding-top: 90px;
  min-height: 630px;
}

.greeting-code {
  color: #ccc;
  padding: 20px 10px;
  font-size: 30px;
  font-family: monospace;
  font-weight: lighter;
  height: 400px;
}

#purple-underline {
  display: none;
  opacity: 0;
  border-radius: 15px;
  height: 25px;
  background-color: #a242b7;
}

.greeting-text {
  padding: 20px 20px 20px 10px;
  font-family: 'Quicksand', sans-serif;
  height: 400px;
}

.greeting-text h1 {
  font-size: 65px;
  font-weight: 300;
  color: #FFF;
}

.greeting-text h3 {
  font-weight: 300;
  font-size: 45px;
  color: #FFF;
}

.greeting-sm h3 {
  font-weight: 300;
  font-size: 45px;
  margin: 0px;
  color: #FFF;
}

.greeting-sm div {
  padding-top: 65px;
  color: #FFF;
}

.greeting-sm {
  padding: 25px 15px 45px 15px;
  color: #FFF;
}


/*.social-center div {
  float:left;
}



.social-center i {
  margin-right: 20px;
  color: #FFF;
}*/

/* =============================================================================
Post Page
============================================================================= */
.breadcrumb {
  background-color: #D5D5D5;
}

.breadcrumb-item a {
  color: #AAA;
}

.breadcrumb-item:hover a {
  color: #444;
  text-decoration: none
}

.breadcrumb-item.active, .breadcrumb-item.active::before {
  color: #777;
}

.img-post {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  margin-bottom: 25px;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.card-img-overlay h4 {
  margin: 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 35px;
}

.card-text {
  color: #212529;
}

.card-text:last-child {
    font-size: 16px;
    height: 4.8em;
    overflow: hidden;
}

.card-text:hover {
  color: #212529;
}

.card-body p.link {
  font-size: 16px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pagination li {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.blog-link {
  color: #28a745;
  font-size: 16px;
}

.blog-link:hover {
  color: #218838;
  text-decoration: none;
}

blockquote p {
  font-size: 22px;
}

.post-body img {
  max-width: 100%;
  height: auto;
}

.badge-yellow {
  color: #fff;
  background-color: #d8a611;
}

.btn-red {
  color: #fff;
  cursor: pointer;
  background-color: #ce2a31;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
}

.btn-red:hover {
  color: #fff;
  background-color: #b7262b;
}

.btn-blue {
  color: #fff;
  cursor: pointer;
  background-color: #4880C1;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
}

.btn-blue:hover {
  color: #fff;
  background-color: #4174ad;
}

.btn-yellow {
  color: #fff;
  cursor: pointer;
  background-color: #d8a611;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
}

.btn-yellow:hover {
  color: #fff;
  background-color: #c39610;
}

.btn-green {
  color: #fff;
  cursor: pointer;
  background-color: #28a745;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
}

.btn-green:hover {
  color: #fff;
  background-color: #218838;
}


.btn-purple {
  color: #fff;
  cursor: pointer;
  background-color: #90349c;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
}

.btn-purple:hover {
  color: #fff;
  background-color: #6b2973;
}

.btn-grey {
  color: #fff;
  cursor: pointer;
  background-color: #999;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 14px;
}

.btn-grey:hover {
  color: #fff;
  background-color: #777;
}

/* =============================================================================
Pagination
============================================================================= */
.pagination-yellow a.page-link {
  color: #d8a611;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-yellow a.page-link:hover {
  color: #c39610;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-yellow .page-item.active .page-link {
  background-color: #d8a611;
  border-color: #d8a611;
}

.pagination-green a.page-link {
  color: #28a745;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-green a.page-link:hover {
  color: #218838;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-green .page-item.active .page-link {
  background-color: #28a745;
  border-color: #28a745;
}

.pagination-grey a.page-link {
  color: #555;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-grey a.page-link:hover {
  color: #222;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.pagination-grey .page-item.active .page-link {
  background-color: #555;
  border-color: #555;
}


/* =============================================================================
Social Media Links
============================================================================= */

.site-footer span {
  color: #CCC;
  float: left;
  font-size: 11pt;
}

.social-media-footer-links {
    float: right;
}

.social-media-footer-links span {
  font-size: 20px;
  padding-top: 10px;
  margin-left: 14px;
}

.social-media-footer-links span:hover {
    color: #999;
}

.fa-xs-footer {
    color: #424242;
    font-size: 25px;
}

.social-left a {
  color: #CCC;
  padding: 0px 15px;
}

.social-left a:first-child {
  margin-left: 10px;
}

.social-left a:hover {
  color: #999;
}
