@import '../variables.scss';

.landing-page-services-card-root {
    background-color: $primary-color-light;
    width: 320px;
    height: 320px;
}

.landing-page-services-card-root h3 {
    font-family: $primary-font-family;
    color: white;
    margin: 0px;
    text-align: center;
}

.landing-page-services-card-root span {
    font-family: $primary-font-family;
    color: white;
    margin: 0px;
    font-size: 14px;
}

.landing-page-services-card-root .icon {
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 50px 0px;
    color: white;
}

.landing-page-services-card-root .body {
    margin: 15px;
    text-align: center;
}