$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

$primary-color: #394553;
$primary-color-light: #4d5e72;
$secondary-color: #E76E53;
$secondary-color-dark: #bb5842;
$tertiary-color: #FFFFFF;

$link-color: #DBDBDB;
$link-color-hover: #B3B3B3;

$post-card-date-color: #a0a0a0;

$light-background: #F0F0F0;
$dark-background: #1E242C;

$primary-font-family: 'Montserrat', sans-serif;